<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/examples/album/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet">
</head>

<body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">Home Page</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact
                            information.
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white" id="update">Update</a></li>
                            <li><a href="http://localhost:3000/api/auth/logout" class="text-white">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong><%= person.name %></strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            </div>
        </div>
    </header>

    <main role="main">
        <div class="container text-center mt-4">
            <h1 class="jumbotron-heading">Previous Uploaded Data</h1>
            <% if(typeof data != "undefined"){
                %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                            data.forEach((item) => { %>
                            <tr>
                                <td>
                                    <%= item.name %>
                                </td>
                                <td>Edit</td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>

                <% }else{ %>
                    <p>No data found</p>
                    <% }%>
        </div>
        <div class="container text-center mt-4">
            <h1 class="jumbotron-heading">Add New Data</h1>
            <script>
                alert('<%= message %>');
            </script>
            <form action="http://localhost:3000/api/upload" method="POST">
                <div class="form-group">
                    <label for="mail"></label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Enter name of data" required>
                </div>
                <button type="submit " class="btn btn-primary ">Upload</button>
            </form>
        </div>

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

    <script>
        // Send request to get user Details
        $.get({
            type: "GET",
            url: "http://localhost:3000/api/auth/updateshow",
            dataType: 'json',
            headers: {
                "Authorization": cook
            },
            success: function (result){
                console.log(result)
            }, function( data ) {
                $( ".result" ).html( data );
            }
        });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
</body>

</html>