<!doctype html>
<html lang="en">

<head>
    <title>Register</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .form {
            margin: 10% 36% 10% 36%;
        }
    </style>
</head>

<body>
    <!-- Nav tabs -->
    <div class="form">
        <ul class="nav nav-tabs" id="navId">
            <li class="nav-item">
                <a href="#" class="nav-link active disabled">Register</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/login" class="nav-link">Login</a>
            </li>
        </ul>
        <form action="../api/auth/register" method="POST">
            <div class="form-group">
                <label for="name"></label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter Your Name" aria-describedby="helpId">
                <small id="helpId" class="text-muted">Your Complete Name</small>
            </div>
            <div class="form-group">
                <label for="mail"></label>
                <input type="text" name="email" id="mail" class="form-control" placeholder="Enter Your Mail" aria-describedby="helpId">
                <small id="helpId" class="text-muted">Your Mail Id</small>
            </div>
            <div class="form-group">
                <label for="password"></label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" aria-describedby="helpId">
                <small id="helpId" class="text-muted">Your Password must be secured one</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p style="margin-top : 15px;text-align: center;color: red;">
            <%= typeof error == 'undefined'? '' : error %>
        </p>
    </div>

    <script>
        $('#navId a').click(e => {
            e.preventDefault();
            $(this).tab('show');
        });
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>